*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    font-size: 20px;
    display: inline-block;
    margin: 40px 40px;
    color:green;
    border: solid 3px green;
    padding: 15px;
}
img{
    width: 1200px;
    margin: 20px 40px;
}
h3{
    margin: 40px 40px;
    font-size: 30px;
    
}
span{
    color: green;
}  
.box1{
 width: 100px;
}
p{
    display: inline-block;
    width: 400px;
    height: 200px;
    vertical-align: top;
    padding: 20px;
}
div{
    display: inline-block;
    margin: 60px 40px;
    background-color: beige;
   
}
h1{
    padding: 20px;
font-size: 15px;
}
.box3{
    width: 100px;
}
.box-footer1{
    width: 30px;
}
.box-footer2{
    width: 30px;
}
.box-footer3{
    width: 30px;
}